# Prerequisites & Compiled Objects
*.o
*.obj
*.slo
*.lo
*.gch
*.pch

# Compiled Dynamic & Static Libraries
*.so
*.dylib
*.dll
*.lib
*.lai
*.la
*.a

# Tex bloatware
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex.gz
*.synctex.gz.sum.synctex

# Executables
*.exe
*.out
*.app

# Build Systems (CMake)
/build/*
/MakeCache.txt
/CMakeFiles/
/CMakeScripts/
/cmake_install.cmake
/Makefile

# external deps
/include/GLFW
/include/glad
/include/KHR
/lib-mingw-w64
glad.c

