 Prerequisites & Compiled Objects
*.o
*.obj
*.slo
*.lo
*.gch
*.pch

# Compiled Dynamic & Static Libraries
*.so
*.dylib
*.dll
*.lib
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Build Systems (CMake)
/build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile

# deps
/deps/imgui/
/ignore/

